body {
  margin: 0;
  background-color: #1a1a1a;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  cursor: pointer;
}

#name {
  font-size: 5em;
  font-weight: bold;
  text-transform: lowercase;
  color: black;
  user-select: none;
}
